DATABASE_URL=postgresql://postgres:postgres@localhost:54320/epsilon
RESOURCE_MANAGER_DATABASE_URL=postgresql://postgres:postgres@localhost:54320/postgres
RESOURCE_MANAGER_SERVICE_MODE=real
AZURITE_ENDPOINT=http://localhost:10000/devstoreaccount1
AZURITE_ACCOUNT=devstoreaccount1
AZURITE_KEY=Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==
EMAIL_SERVER=smtp://localhost:1025
EMAIL_FROM=noreply@example.com
OPENAI_API_KEY=your_openai_api_key_here
OLLAMA_BASE_URL="http://127.0.0.1:11434/api"
OLLAMA_MODEL="deepseek-r1:8b"
