# Node & Editor artefacts
node_modules
.pnpm-store
.env*
!/apps/web/.env.example
!/apps/web/.env.test

# Build outputs
/apps/**/.next
/apps/**/out
/packages/**/dist
/packages/**/build
/packages/**/database/src/generated

# Cache files
.turbo

# Next.js
*next-env.d.ts
*.tsbuildinfo
.worktrees/
